body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #282828;
}

ol {
  margin: 0;
  padding: 0;
  padding-left: 3%;
}

.container {
  padding-top: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
  /* overflow: hidden;
  min-height: 86.5vh; */
}

#big-br {
  display: block;
  height: 25vh;
}

.cursor-dot-outline, .cursor-dot {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0;
  border-radius: 50%;
  z-index: 3;
}

.cursor-dot {
  width: 8px;
  height: 8px;
}

.cursor-dot-outline {
  width: 30px;
  height: 30px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-style: normal;
  font-optical-sizing: auto;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

p, article {
  font-size: 1.1em;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}

.pop-up-course ul li {
  font-family: "Nunito", sans-serif;
  font-size: 0.6em;
}

.code {
  font-size: 0.875em;
  font-family: "Fira Code";
  line-height: 1.1875em;
  font-weight: normal;
  white-space: pre;
  font-variant-ligatures: none;
}

.large {
  font-size: 1.5em;
}

.header-box {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 10vh;
}

.main-pages {
  position: relative;
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-style: normal;
  font-optical-sizing: auto;
  font-size: 2em;
  padding: 10px 0 0 10px;
  display: flex;
  width: 40%;
  z-index: 3;
}
.main-pages li {
  list-style-type: none;
  margin-right: 5vw;
  position: relative;
}

.course-page-checked::before {
  content: "";
  position: absolute;
  width: 0.3125em;
  height: 0.3125em;
  border-radius: 50%;
  top: 50%;
  left: -25%;
}

.course-nav-container:hover .pop-up-course {
  transform: translateY(5%);
}

.pop-up-course {
  left: -25%;
  transform: translateY(-200%);
  z-index: 1;
  display: block;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  border-radius: 0.3125em;
  border-style: solid;
  border-width: 0.05em;
  width: 15em;
}
.pop-up-course ul {
  padding-left: 0.9375em;
  margin: 0;
}
.pop-up-course ul li {
  margin: 0;
  margin-right: 0.5em;
}

.code {
  position: relative;
  padding: 0.7142857143em;
  padding-left: 0.3571428571em;
  border-width: 0.3571428571em;
  border-style: ridge;
  position: relative;
  transition-duration: 0.5s;
  transition-property: color, background-color;
}

.inline-block {
  display: inline-block;
}

.code-languages {
  right: -5.8928571429em;
  top: -4.2857142857em;
  position: absolute;
  width: 14.2857142857em;
  height: 14.2857142857em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.code-languages li {
  z-index: 1;
  position: absolute;
  list-style: none;
  left: 0;
  transform-origin: 7.1428571429em;
  transition: 0.5s;
  transition-delay: calc(0.1s * var(--i));
  transform: rotate(0deg) translateX(6.0714285714em);
}
.code-languages li a {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: -2.1428571429em;
  height: -2.1428571429em;
  border-radius: 50%;
  transform: rotate(calc(-360deg / var(--amount) * var(--i)));
  box-shadow: 0 0.2142857143em 0.2857142857em rgba(0, 0, 0, 0.15);
  transition: 0.5s;
  transition-delay: calc(0.1s * var(--i));
  transition-duration: 0.5s;
  transition-property: color, background-color;
}
.code-languages.code-language-active li {
  transform: rotate(calc(360deg / var(--amount) * var(--i)));
}
.code-languages.code-language-active li a {
  width: 2.8571428571em;
  height: 2.8571428571em;
}
.code-languages .toggle {
  position: absolute;
  width: 2.1428571429em;
  height: 2.1428571429em;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  border-radius: 50%;
  box-shadow: 0 0.2142857143em 0.2857142857em rgba(0, 0, 0, 0.15);
  transition: transform 1.25s;
  transition-duration: 0.5s;
  transition-property: color, background-color;
}

.copy {
  z-index: 2;
  background-color: inherit;
  color: inherit;
  position: absolute;
  right: 0;
  top: 0;
}

.copy-msg {
  display: block;
  min-width: 5%;
}
.copy-msg.show-box {
  opacity: 100%;
}

.close-list {
  margin-top: 0;
  margin-bottom: 0;
}

.blob {
  position: relative;
}
.blob .blob-header {
  font-size: 4em;
  color: white;
  position: absolute;
  top: 35%;
  left: 15%;
  overflow: hidden;
  letter-spacing: 0.1086956522em;
  transition: 0.5s;
  border-right: 0.0543478261em solid white;
  animation: typing 10s infinite;
}

@keyframes typing {
  0%, 90%, 100% {
    width: 0em;
  }
  30%, 60% {
    width: 7.1320652174em;
  }
}
.runner {
  position: relative;
  display: flex;
}
.runner span {
  position: relative;
  width: 0.78125em;
  height: 0.78125em;
  background: #eaeef0;
  margin: 0 0.3125em;
  border-radius: 50%;
  border: 0.375em solid #eaeef0;
  box-shadow: 0.5em 0.5em 0.9375em rgba(33, 33, 33, 0.2), inset 0.1875em 0.1875em 0.3125em rgba(33, 33, 33, 0.1), inset -0.0625em -0.0625em 0.3125em #fff;
}
.runner span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #5c89ff;
  border-radius: 50%;
  box-shadow: inset 0.1875em 0.1875em 0.3125em rgba(33, 33, 33, 0.1), inset -0.0625em -0.0625em 0.3125em #fff;
  transform: scale(0);
  animation: animate 3.5s linear infinite, animateColor 5s linear infinite;
  animation-delay: calc(var(--i) * 0.2s);
}
@keyframes animate {
  0%, 9.99%, 70.0001% {
    transform: scale(0);
  }
  10%, 70% {
    transform: scale(1);
  }
}
@keyframes animateColor {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

#code-input {
  font-family: "Fira Code", "Droid Sans Mono", "monospace", monospace, "Droid Sans Fallback";
  outline: none;
  border: 0.3571428571em #6a0080 ridge;
  background-color: #606060;
  color: #fff;
}

.input-code-wrapper {
  white-space: nowrap;
  overflow-x: hidden;
  max-height: 43.96875em;
}

.compiling {
  display: inline-block;
  min-width: 42.96875em;
  max-height: 100%;
  transform: translateX(-100%);
  transition: transform 1s cubic-bezier(1, -0.005, 0.655, 0.895);
}

.fade-out {
  transform: translateX(-101vw);
  transition: transform 1s cubic-bezier(1, -0.005, 0.655, 0.895);
}

.fade-right {
  transform: translateX(100vw);
}

#run-code {
  display: inline-block;
}

footer {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-style: normal;
  font-optical-sizing: auto;
  font-size: 1.7em;
  width: 100vw;
}
footer nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.dark-theme footer {
  background-color: #212121;
}
.dark-theme footer nav a {
  text-decoration: none;
  -webkit-transition: color 0.1s ease-in-out;
  -moz-transition: color 0.1s ease-in-out;
  -o-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}
.dark-theme footer nav a:visited {
  color: #fff;
}
.dark-theme footer nav a:link {
  color: #fff;
}
.dark-theme footer nav a:hover {
  color: #606060;
}
.dark-theme footer nav a:active {
  color: #000;
}
.dark-theme footer nav a:active {
  -webkit-transition: color 0s ease-in-out;
  -moz-transition: color 0s ease-in-out;
  -o-transition: color 0s ease-in-out;
  transition: color 0s ease-in-out;
}
.dark-theme p {
  color: #212121;
}
.dark-theme em {
  color: #ea80fc;
  font-weight: 700;
  font-style: normal;
}
.dark-theme .cursor-dot {
  background-color: #9c9c9c;
}
.dark-theme .cursor-dot-outline {
  background-color: rgba(156, 156, 156, 0.7);
}
.dark-theme .header-box {
  background-color: #212121;
}
.dark-theme .header-box .main-pages {
  color: #000;
}
.dark-theme .header-box .main-pages li a {
  text-decoration: none;
  -webkit-transition: color 0.1s ease-in-out;
  -moz-transition: color 0.1s ease-in-out;
  -o-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}
.dark-theme .header-box .main-pages li a:visited {
  color: #fff;
}
.dark-theme .header-box .main-pages li a:link {
  color: #fff;
}
.dark-theme .header-box .main-pages li a:hover {
  color: #606060;
}
.dark-theme .header-box .main-pages li a:active {
  color: #000;
}
.dark-theme .header-box .main-pages li a:active {
  -webkit-transition: color 0s ease-in-out;
  -moz-transition: color 0s ease-in-out;
  -o-transition: color 0s ease-in-out;
  transition: color 0s ease-in-out;
}
.dark-theme .text-link {
  display: inline-block;
  text-decoration: none;
}
.dark-theme .text-link:hover::after {
  content: "";
  display: block;
  background: #d05ce3;
  margin-right: 0;
  height: 3px;
  border-radius: 4px;
}
.dark-theme .text-link:visited {
  color: #9c27b0;
}
.dark-theme .text-link:link {
  color: #9c27b0;
}
.dark-theme .text-link:hover {
  color: #9c27b0;
}
.dark-theme .text-link:active {
  color: #d05ce3;
}
.dark-theme #header-selected {
  pointer-events: none;
  color: #9c27b0;
}
.dark-theme .code .code-languages li a:hover {
  color: violet;
}
.dark-theme .code.cpp-theme {
  color: #d4d4d4;
  border-color: #1e1e1e;
  background-color: #1e1e1e;
}
.dark-theme .code.cpp-theme .code-languages li a {
  background-color: #1e1e1e;
  color: #fff;
}
.dark-theme .code.cpp-theme .code-languages .toggle {
  background-color: #1e1e1e;
  color: #fff;
}
.dark-theme .code.javascript-theme {
  color: #abb2bf;
  border-color: #282c34;
  background-color: #282c34;
}
.dark-theme .code.javascript-theme .code-languages li a {
  background-color: #282c34;
  color: #fff;
}
.dark-theme .code.javascript-theme .code-languages .toggle {
  background-color: #282c34;
  color: #fff;
}
.dark-theme .code.python-theme {
  color: #d8dee9;
  border-color: #303841;
  background-color: #303841;
}
.dark-theme .code.python-theme .code-languages li a {
  background-color: #303841;
  color: #fff;
}
.dark-theme .code.python-theme .code-languages .toggle {
  background-color: #303841;
  color: #fff;
}
.dark-theme .code.rust-theme {
  color: #cbbec2;
  border-color: #322a2d;
  background-color: #322a2d;
}
.dark-theme .code.rust-theme .code-languages li a {
  background-color: #322a2d;
  color: #fff;
}
.dark-theme .code.rust-theme .code-languages .toggle {
  background-color: #322a2d;
  color: #fff;
}
.dark-theme .course-page-checked::before {
  background: #9c27b0;
}
.dark-theme .pop-up-course {
  background-color: #212121;
}

.back {
  position: absolute;
  background-image: linear-gradient(#c328a7, #0023a2);
  filter: blur(650px);
}

.form {
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 25px 45px rgba(0,0,0,0.1);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.3 );
  box-sizing: border-box;
  margin-bottom: 40px;
}

.form div.header {
  margin-bottom: 40px;
}

.label {
  position: relative;
  color: #fff;
  letter-spacing: 1px;
  top: 20px;
  left: 10px;
  font-size: 30px;
  margin-left: 10px;
}

.label::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 80px;
  height: 4px;
  background: #fff;
}

input {
  box-sizing: border-box;
  color: #fff;
  margin: 0;
  font-size: 20px;
}

.input {
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 20px;
  background: rgba(255, 255, 255, 0.2);
  /* border: none;
  outline: none; */
  padding: 5px 10px;
  border-radius: 35px;
  margin-bottom: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.repo {
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 25px 45px rgba(0,0,0,0.1);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.3 );
  box-sizing: border-box;
  margin-bottom: 20px;
}

h3.author {
  position: relative;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 40px;
  font-size: 20px;
  margin-left: 10px;
}

h3.author::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 80px;
  height: 4px;
  background: #fff;
}

.field p {
  box-sizing: border-box;
  color: #fff;
  margin: 0;
}

.field {
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 20px;
  background: rgba(255, 255, 255, 0.2);
  padding: 5px 10px;
  border-radius: 35px;
  margin-bottom: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}


/* Side menu */

.side__menu__out
{
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 25px 45px rgba(0,0,0,0.1);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.3 );
  box-sizing: border-box;
  margin-bottom: 20px;

  position: fixed;
  z-index: 777;
  top: 15vh;
  left: -25vh;

  width: 27.5vh;

  transition: .75s ease-in-out;

  border-radius: 0 15px 15px 0;
}

.side__menu__out:hover
{
  left: 0vh;

  transition: .75s ease-in-out;
}

.side__menu__in
{
  width: 82%;
  height: 90%;
  margin: 5% 5% 5% 3%;

  color: #fff;
  border-radius: 15px;

  overflow-wrap: break-word;
}

.side__nav
{
  padding-inline-start: 0;
}

.side__li
{
  list-style-type: none;
}


.input-a {
  box-sizing: border-box;
  left: -10px;
  width: 100%;
  /* margin-left: 5px; */
  /* margin-right: 20px; */
  background: rgba(255, 255, 255, 0.2);
  /* padding: 5px 10px; */
  border-radius: 35px;
  margin-bottom: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}
