body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #282828;
}

ol {
  margin: 0;
  padding: 0;
  padding-left: 3%;
}

.container {
  padding-top: 11vh;
  margin-left: 10vw;
  margin-right: 10vw;
  /* overflow: hidden;
  min-height: 86.5vh; */
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-style: normal;
  font-optical-sizing: auto;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

p, article {
  font-size: 1.1em;
}

/* body {
  font-family: "Nunito", sans-serif;
  font-size: 1em;
} */

.header-box {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 10vh;
}

.main-pages {
  position: relative;
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-style: normal;
  font-optical-sizing: auto;
  font-size: 2em;
  padding: 1vh 0 0 2vw;
  display: flex;
  width: 40%;
  /* z-index: 3; */
}

.main-pages li {
  list-style-type: none;
  margin-right: 5vw;
  position: relative;
}

.dark-theme p {
  color: #212121;
}
.dark-theme .header-box {
  background-color: #212121;
}
.dark-theme .header-box .main-pages {
  color: #000;
}
.dark-theme .header-box .main-pages li a {
  text-decoration: none;
  -webkit-transition: color 0.1s ease-in-out;
  -moz-transition: color 0.1s ease-in-out;
  -o-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}
.dark-theme .header-box .main-pages li a:visited {
  color: #fff;
}
.dark-theme .header-box .main-pages li a:link {
  color: #fff;
}
.dark-theme .header-box .main-pages li a:hover {
  color: #606060;
}
.dark-theme .header-box .main-pages li a:active {
  color: #000;
}
.dark-theme .header-box .main-pages li a:active {
  -webkit-transition: color 0s ease-in-out;
  -moz-transition: color 0s ease-in-out;
  -o-transition: color 0s ease-in-out;
  transition: color 0s ease-in-out;
}
/* .dark-theme #header-selected {
  pointer-events: none;
  color: #9c27b0;
} */

/* .back {
  position: absolute;
  background-image: linear-gradient(#c328a7, #0023a2);
  filter: blur(650px);
} */

.form {
  background: rgba(255,255,255,0.1);
  box-shadow: 0 25px 45px rgba(0,0,0,0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.3);
  box-sizing: border-box;
  margin-bottom: 40px;
}

.form div.header {
  margin-bottom: 40px;
}

.label {
  position: relative;
  color: #fff;
  letter-spacing: 1px;
  top: 20px;
  left: 10px;
  font-size: 30px;
  margin-left: 10px;
}

.label::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 80px;
  height: 4px;
  background: #fff;
}

input {
  box-sizing: border-box;
  color: #fff;
  margin: 0;
  font-size: 20px;
}

.input {
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 20px;
  background: rgba(255, 255, 255, 0.2);
  /* border: none;
  outline: none; */
  padding: 5px 10px;
  border-radius: 35px;
  margin-bottom: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

/* .repo {
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 25px 45px rgba(0,0,0,0.1);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.3 );
  box-sizing: border-box;
  margin-bottom: 20px;
}

h3.author {
  position: relative;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 40px;
  font-size: 20px;
  margin-left: 10px;
}

h3.author::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 80px;
  height: 4px;
  background: #fff;
}

.field p {
  box-sizing: border-box;
  color: #fff;
  margin: 0;
}

.field {
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 20px;
  background: rgba(255, 255, 255, 0.2);
  padding: 5px 10px;
  border-radius: 35px;
  margin-bottom: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
} */


/* Side menu */

/* .side__menu__out
{
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 25px 45px rgba(0,0,0,0.1);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.3 );
  box-sizing: border-box;
  margin-bottom: 20px;

  position: fixed;
  z-index: 777;
  top: 15vh;
  left: -25vh;

  width: 27.5vh;

  transition: .75s ease-in-out;

  border-radius: 0 15px 15px 0;
}

.side__menu__out:hover
{
  left: 0vh;

  transition: .75s ease-in-out;
}

.side__menu__in
{
  width: 82%;
  height: 90%;
  margin: 5% 5% 5% 3%;

  color: #fff;
  border-radius: 15px;

  overflow-wrap: break-word;
}

.side__nav
{
  padding-inline-start: 0;
}

.side__li
{
  list-style-type: none;
} */


.input-a {
  box-sizing: border-box;
  left: -10px;
  width: 100%;
  /* margin-left: 5px; */
  /* margin-right: 20px; */
  background: rgba(255, 255, 255, 0.2);
  /* padding: 5px 10px; */
  border-radius: 35px;
  margin-bottom: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

/* badge */

.badge {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: .25em 1em;
  gap: .5em;

  position: relative;

  background: #FAFAFA;
  border: .0625em solid #E9EAF2;
  border-radius: .25em;
}

/* badge */

.badge p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: .75em;
  line-height: 0.9375em;
  /* identical to box height */
  margin-block: 0.75em;

  color: #111113;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.card {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1em 1.5em;
  gap: 1em;

  position: relative;

  background: #F0F0F0;
  backdrop-filter: blur(.75em);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: .5em;
}

.content {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: .25em;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.content p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: .8em;
  line-height: 140%;
  
  color: #42454E;
  
  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.header {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: .5em;
  /* max-height: 3.5em; */

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.header p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 2.5em;
  line-height: 1.8125em;
  /* identical to box height */
  margin-block-start: .1em;
  margin-block-end: .1em;

  color: #141414;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tags-cloud {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: .625em;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.cards-list {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: .5em;
  box-sizing: border-box;
}

.cards-list .card {
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

/* TODO: px -> em */
.ellipse-left {
  position: fixed;
  width: 1500px;
  height: 360px;
  left: calc(50% - 1500px/2 - 634px);
  bottom: -289px;
  
  background: radial-gradient(50% 50% at 50% 50%, #C0B4E0 0%, #3A0BD9 100%);
  filter: blur(100px);
}

.ellipse-right {
  position: fixed;
  width: 1500px;
  height: 360px;
  left: calc(50% - 1500px/2 + 673px);
  bottom: -289px;

  background: radial-gradient(50% 50% at 50% 50%, #C0B4E0 0%, #3A0BD9 100%);
  filter: blur(100px);
}
