<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trends</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script>
/*        document.addEventListener("DOMContentLoaded", (e) => {
            document.getElementById('inner').setAttribute(
                'style',
                `width: ${document.getElementById('outer').clientWidth}px;height:${document.getElementById('outer').clientHeight}px;position: absolute;`
            )
        })*/
        function sort_by() {
            const curUrl = window.location.href
            const sortorder = /sortorder=[a-z_]*/
            const tmpUrl = window.location.href.replace(sortorder, "")
            const url = tmpUrl + '&sortorder=' + document.getElementById('sortorder').value
            let url_ = url.replace('&&', '&').replace('?&', '?')
            if (url_.search("\\?") == -1) {
                url_ = url_.replace('&', '?')
            }
            window.location.href = url_
        }
    </script>
</head>
<body class="dark-theme montserrat-font">
    <!-- <img style="display: block;" src="face.png" alt="Лицо"> -->
    <header class="header-box">
        <nav class="main-pages">
            <li><a href="/" id="main-nav">Main</a></li>
            <li><a href="/trends" id="trends-nav">Trends</a></li>
            <li><a href="/stat-page" id="stat-nav">Statistics</a></li>
            <li><a href="/subscribe-page" id="subscribe-nav">Subscribe</a></li>
        </nav>
    </header>

    <!-- <div class="side__menu__out">
        <div class="side__menu__in">
            <form action="javascript:sort_by()">
                <div class="sorting"><label for="sortorder"></label></div>
                <div><input list="sortorders" name="sortorder" id="sortorder" class="input-a"></div>
                <datalist id="sortorders">
                    <option value="stars"></option>
                    <option value="forks"></option>
                    <option value="current_period_stars"></option>
                    <option value="interest_score"></option>
                </datalist>
                <input type="submit" value="Choose sorting" class="input-a">
            </form>
        </div>
    </div> -->
    <div class="ellipse-left"></div>
    <div class="ellipse-right"></div>

    <main class="container" id="outer">
        <div class="cards-list">
            {{range .Repos}}
            <div class="card">
                <div class="content">
                    <div class="header">
                        <p>{{.Name}}</p>
                        <a class="arrow-link" href="{{.URL}}"><object class="arrow" data="arrow.svg" type="image/svg+xml"></object></a>
                        <p class="author">{{.Author}}</p>
                    </div>
                    {{if .Description}}
                        <p>{{.Description}}</p>
                    {{else}}
                        <p><em>No description</em></p>
                    {{end}}
                </div>
                <div class="tags-cloud">
                    {{if .Language}}
                        <div class="badge">
                            {{if $.SelectedLanguage}}
                                <a class="selectedLanguage"><p>{{.Language}}</p></a>
                            {{else}}
                                <a href="./trends?language={{.Language}}"><p>{{.Language}}</p></a>
                            {{end}}
                        </div>
                    {{end}}
                    <div class="badge"><p>Stars: {{.Stars}}</p></div>
                </div>
            </div>
            {{end}}
        </div>
    </main>
</body>
</html>
